
.App{
  max-width: 600px;
}


.nav-header{
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 600px;
  z-index: 2;
  background-color: #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}

.camera-canva{
  background-color: red;
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}